<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            background-color: rgb(184, 236, 236);
        }
        div{
            display: flex;
            height: 300px;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            border: 1px solid black;
            border-radius: 3rem;
            box-shadow: 20px 10px 30px pink;
            padding:4rem 3rem;
        }
        input{
            height: 30px;
            border-radius: 3rem;
            font-weight: 900;
            width: 100%;
        }
        .desc{
            height: 50px;
        }
        .createform div{
            display: flex;
            justify-content: space-between;
            align-self: flex-end;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="createform">
        <div>
            <h1>
                <a href="/">Home</a>
            </h1>
        </div>
        <form action="/addtask" method="post">
            <input type="text" name="name" placeholder="please provide hissab name">
            <input type="text" name="description" id="" style="height: 50px;" placeholder="description">
            <input type="submit" value="ADD" style="cursor: pointer;">
        </form>
    </div>
</body>
</html>